* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

:root {
	font-size: 62.5%;

	/* colors primary */

	--Light-red: hsl(0, 100%, 67%);
	--Orangey-yellow: hsl(39, 100%, 56%);
	--Green-teal: hsl(166, 100%, 37%);
	--Cobalt-blue: hsl(234, 85%, 45%);

	/* colors gradient */

	--Light-slate-blue: hsl(252, 100%, 67%);
	--Light-royal-blue: hsl(241, 81%, 54%);

	--Violet-blue: hsl(256, 72%, 46%);
	--Persian-blue: rgba(30, 27, 161, 0.1);

	/* Neutral */

	--White: hsl(0, 0%, 100%);
	--Pale-blue: hsl(222, 100%, 96%);
	--Light-lavender: hsl(241, 40%, 73%);
	--Dark-gray-blue: hsl(224, 30%, 27%);
}

.container {
	width: min(39rem, 100%);
	margin: 0 auto;
}

body {
	font-size: 1.6rem;
}

body,
html,
button {
	font-family: "Hanken Grotesk", sans-serif;
}

header {
	text-align: center;
	font-size: 1.8rem;

	background-color: var(--Light-slate-blue);
	background-image: linear-gradient(
		180deg,
		rgb(120, 87, 255) 0%,
		rgb(46, 43, 233) 100%
	);

	border-radius: 0 0 4rem 4rem;

	padding: 3rem 4rem;
}

header h1 {
	font-size: 1.8rem;
	color: var(--Light-lavender);
}

header .score {
	width: 14rem;
	height: 14rem;
	border-radius: 50%;

	background-color: var(--Persian-blue);
	background-image: linear-gradient(
		180deg,
		rgba(30, 27, 161, 0.4),
		rgba(30, 27, 161, 0.1),
		rgba(30, 27, 161, 0.001)
	);

	margin: 2.4rem auto;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

header .score p.your-result {
	color: var(--White);
	font-size: 5.6rem;
	font-weight: 800;
}

header .score p {
	color: var(--Light-lavender);
	font-size: 1.6rem;
}

header h2 {
	color: var(--White);
	font-size: 2.4rem;

	margin-bottom: 1rem;
}

header p {
	color: var(--Light-lavender);
}

main {
	padding: 2.4rem 4rem;
}

main h2 {
	font-size: 2rem;

	margin-bottom: 2.4rem;
}

.summary-wrapper {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

main .result-reaction,
main .result-memory,
main .result-verbal,
main .result-visual {
	width: 100%;
	height: 6rem;
	border-radius: 1rem;
	padding: 1rem;

	display: flex;
	align-items: center;
}

main .result-reaction {
	background-color: hsla(0, 100%, 67%, 0.1);

	color: var(--Light-red);
	font-size: 1.6rem;
	font-weight: 600;
}

main .result-memory {
	background-color: hsla(39, 100%, 56%, 0.1);

	color: var(--Orangey-yellow);
	font-size: 1.6rem;
	font-weight: 600;
}

main .result-verbal {
	background-color: hsla(166, 100%, 37%, 0.1);

	color: var(--Green-teal);
	font-size: 1.6rem;
	font-weight: 600;
}

main .result-visual {
	background-color: hsla(234, 85%, 45%, 0.1);

	color: var(--Cobalt-blue);
	font-size: 1.6rem;
	font-weight: 600;
}

main img {
	margin-right: 1.6rem;
}

main p.points {
	color: var(--Light-lavender);

	margin-left: auto;
}

main p.points span {
	color: var(--Dark-gray-blue);
	font-weight: 700;
}



